.landing-image-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.landing-image-container {
    position: relative;
    height: 100vh;
}

.background-image-overlay {
    width: 100%;
    height: 100%;
    background: #0000005e;
    z-index: 2000;
    position: absolute;
}

.background-image-title {
    position: absolute;
    z-index: 10000;
    color: white;
    font-family: serif;
    font-size: 4rem;
    font-weight: revert;
}