/* .bgimg-0 {
    background-image: url("../images/cooking.jpg");
}

.bgimg-1 {
    background-image: url("../images/gas.jpg");
} */

  .red {
      height: 1000px;
      background: red;
      
  }

  .bgimg-0, .bgimg-1, .bgimg-3 {
    min-height: 70vh;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
