.landing-content-wrapper {
    padding-top: 90vh;
}

.landing-content-section {
    background: gainsboro;
}

.landing-section-title {
    margin: 40px 0;
    text-align: center;
}

.section-border {
    margin-top: -50px;
}

@media only screen and (max-width: 680px) {
    .section-border {
        margin-top: -20px;
    }
    
    .landing-section-title {
        padding-top: 40px;
    }
}