.landing-content-wrapper {
    margin-top: 100vh;
    width: 100%;
    z-index: 10;
    position: absolute;
    background: gainsboro;
}

.landing-content-section {
    position: relative;
}

.content-container {
    height: 70vh;
}

.landing-section-title {
    margin: 40px 0;
    text-align: center;
}